In [85]:
import pandas as pd
import json as json
import numpy as np

from elasticsearch import Elasticsearch
from elasticsearch import helpers

from pandas.io.json import json_normalize

import featuretools as ft
from datetime import datetime

from sklearn.preprocessing import LabelBinarizer

In [2]:
def connect_elasticsearch():
    es = Elasticsearch(['https://silabane:PVp5CcJfhoeo6sL2XJkVk8PL@44427d2de.cyberscore.com:443'])
    return es

In [3]:
def retrieve_data(es, index_name, query, object_filter):
    result_set = es.search(index=index_name, 
                           body=query, 
                           filter_path=object_filter)
    
    return result_set

In [9]:
def calc_delta_between_event(curr_df, x):
    no_result = len(curr_df.loc[ (curr_df[ '_source.@timestamp'] < x[0]) &
               (curr_df[ '_source.source.ip'] == x[4]) &
               (curr_df[ '_source.destination.ip'] == x[2]), '_source.@timestamp'] )
    if (no_result > 0):
        delta = pd.to_datetime(x[0]) - max(curr_df.loc[ (curr_df[ '_source.@timestamp'] < x[0]) &
               (curr_df[ '_source.source.ip'] == x[4]) &
               (curr_df[ '_source.destination.ip'] == x[2]), '_source.@timestamp'])
        
        return delta.seconds
    else:
        return -1

In [4]:
es = connect_elasticsearch()

print(es.ping())

False

## train data

In [5]:
query_string = {
    "query": { 
        "bool": {
            "must": [
                { "range": { "@timestamp": {"gte": "2019-09-05T04:04:00.000Z", 
                                            "lt":"2019-09-05T04:50:00.000Z" }}},
                { "match": { "network.transport" : "udp"}},
                { "match": { "source.ip" : "10.3.8.44"}}
            ]
        }
    }, 
    "from" : 0, 
    "size" : 10000
}

object_filter = ['hits.hits._source.@timestamp', 
                 'hits.hits._source.agent.hostname',
                 'hits.hits._source.source.ip',
                 'hits.hits._source.destination.ip',
                 'hits.hits._source.network.bytes'
#                  'hits.hits._source.domain',
#                  'hits.hits._source.sub_domain',
#                  'hits.hits._source.dns.question.etld_plus_one',
#                  'aggregations'
                ]
result = retrieve_data(es, 'packetbeat-*', query_string, object_filter)

In [6]:
flat_result = json_normalize(result['hits']['hits'])

In [7]:
flat_result.count()

_source.@timestamp        9998
_source.agent.hostname    9998
_source.destination.ip    9998
_source.network.bytes     9998
_source.source.ip         9998
dtype: int64

In [8]:
flat_result.head()

,_source.@timestamp,_source.agent.hostname,_source.destination.ip,_source.network.bytes,_source.source.ip
0,2019-09-05T04:04:00.000Z,t-dock-work-2,10.3.8.58,27185896,10.3.8.44
1,2019-09-05T04:04:00.000Z,t-dock-work-2,10.3.6.5,240,10.3.8.44
2,2019-09-05T04:04:00.000Z,t-dock-work-2,10.3.6.5,240,10.3.8.44
3,2019-09-05T04:04:00.000Z,t-dock-work-2,10.3.6.5,240,10.3.8.44
4,2019-09-05T04:04:00.000Z,t-dock-work-2,10.3.6.5,240,10.3.8.44

In [11]:
flat_result['_source.@timestamp']= pd.to_datetime(flat_result['_source.@timestamp'])

In [12]:
flat_result['delta_prev'] = flat_result.apply(lambda x: calc_delta_between_event(flat_result, x), axis=1)

In [46]:
flat_result['hour'] = flat_result['_source.@timestamp'].dt.hour
flat_result['minute'] = flat_result['_source.@timestamp'].dt.minute
flat_result['second'] = flat_result['_source.@timestamp'].dt.second

In [133]:
flat_result.loc[flat_result['delta_prev'] > 1, ['_source.@timestamp', 'hour', 'minute', 'second']]

                   _source.@timestamp  hour  minute  second
31   2019-09-05 04:04:07.327000+00:00     4       4       7
40   2019-09-05 04:04:18.691000+00:00     4       4      18
74   2019-09-05 04:04:28.691000+00:00     4       4      28
76          2019-09-05 04:04:30+00:00     4       4      30
77          2019-09-05 04:04:30+00:00     4       4      30
78          2019-09-05 04:04:30+00:00     4       4      30
79          2019-09-05 04:04:30+00:00     4       4      30
80          2019-09-05 04:04:30+00:00     4       4      30
81          2019-09-05 04:04:30+00:00     4       4      30
82          2019-09-05 04:04:30+00:00     4       4      30
83          2019-09-05 04:04:30+00:00     4       4      30
84          2019-09-05 04:04:30+00:00     4       4      30
85          2019-09-05 04:04:30+00:00     4       4      30
86          2019-09-05 04:04:30+00:00     4       4      30
87          2019-09-05 04:04:30+00:00     4       4      30
88          2019-09-05 04:04:30+00:00     4       4      30
89          2019-09-05 04:04:30+00:00     4       4      30
90          2019-09-05 04:04:30+00:00     4       4      30
91          2019-09-05 04:04:30+00:00     4       4      30
92          2019-09-05 04:04:30+00:00     4       4      30
93          2019-09-05 04:04:30+00:00     4       4      30
94          2019-09-05 04:04:30+00:00     4       4      30
95          2019-09-05 04:04:30+00:00     4       4      30
96          2019-09-05 04:04:30+00:00     4       4      30
97          2019-09-05 04:04:30+00:00     4       4      30
98          2019-09-05 04:04:30+00:00     4       4      30
99          2019-09-05 04:04:30+00:00     4       4      30
100         2019-09-05 04:04:30+00:00     4       4      30
101         2019-09-05 04:04:30+00:00     4       4      30
102         2019-09-05 04:04:30+00:00     4       4      30
...                               ...   ...     ...     ...
9828        2019-09-05 04:18:30+00:00     4      18      30
9829        2019-09-05 04:18:30+00:00     4      18      30
9830        2019-09-05 04:18:30+00:00     4      18      30
9831        2019-09-05 04:18:30+00:00     4      18      30
9832        2019-09-05 04:18:30+00:00     4      18      30
9834        2019-09-05 04:18:30+00:00     4      18      30
9835        2019-09-05 04:18:30+00:00     4      18      30
9836        2019-09-05 04:18:30+00:00     4      18      30
9837        2019-09-05 04:18:30+00:00     4      18      30
9838 2019-09-05 04:16:58.691000+00:00     4      16      58
9839 2019-09-05 04:17:04.776000+00:00     4      17       4
9843 2019-09-05 04:17:18.691000+00:00     4      17      18
9863 2019-09-05 04:17:48.691000+00:00     4      17      48
9889 2019-09-05 04:17:58.381000+00:00     4      17      58
9890 2019-09-05 04:17:58.691000+00:00     4      17      58
9921 2019-09-05 04:18:07.534000+00:00     4      18       7
9922 2019-09-05 04:18:08.691000+00:00     4      18       8
9950 2019-09-05 04:18:24.518000+00:00     4      18      24
9954        2019-09-05 04:18:30+00:00     4      18      30
9955        2019-09-05 04:18:30+00:00     4      18      30
9956        2019-09-05 04:18:30+00:00     4      18      30
9957        2019-09-05 04:18:30+00:00     4      18      30
9958        2019-09-05 04:18:30+00:00     4      18      30
9959        2019-09-05 04:18:30+00:00     4      18      30
9960        2019-09-05 04:18:30+00:00     4      18      30
9961        2019-09-05 04:18:30+00:00     4      18      30
9962        2019-09-05 04:18:30+00:00     4      18      30
9963        2019-09-05 04:18:30+00:00     4      18      30
9964        2019-09-05 04:18:30+00:00     4      18      30
9965 2019-09-05 04:18:38.691000+00:00     4      18      38

[1714 rows x 4 columns]

In [47]:
# flat_result.loc[flat_result['delta_prev'] == 10]
flat_result_sorted = flat_result.sort_values(by='_source.@timestamp')
flat_result_sorted.loc[flat_result_sorted['_source.destination.ip'] == '91.189.89.199']

,_source.@timestamp,_source.agent.hostname,_source.destination.ip,_source.network.bytes,_source.source.ip,delta_prev,hour,minute,second
1642,2019-09-05 04:06:30+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,-1,4,6,30
1676,2019-09-05 04:06:40+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,4,6,40
1690,2019-09-05 04:06:50+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,4,6,50
328,2019-09-05 04:07:00.002000+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,4,7,0
1710,2019-09-05 04:07:10+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,9,4,7,10
6709,2019-09-05 04:40:40.001000+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,2010,4,40,40
6734,2019-09-05 04:40:50+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,9,4,40,50
7749,2019-09-05 04:41:00+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,4,41,0
6763,2019-09-05 04:41:10+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,4,41,10

In [151]:
from pandas.tools.plotting import scatter_matrix

# flat_result_sorted.describe()
# flat_result_sorted.info()
scatter_matrix(flat_result_sorted, figsize=(12, 8))

ModuleNotFoundError: No module named 'pandas.tools'

In [50]:
flat_result_sorted.to_csv(r'data/flat_result_sorted.csv')

## Test Data

In [58]:
query_string_test = {
    "query": { 
        "bool": {
            "must": [
                { "range": { "@timestamp": {"gte": "2019-09-05T05:04:00.000Z", 
                                            "lt":"2019-09-05T05:50:00.000Z" }}},
                { "match": { "network.transport" : "udp"}},
                { "match": { "source.ip" : "10.3.8.44"}}
            ]
        }
    }, 
    "from" : 0, 
    "size" : 10000
}

object_filter_test = ['hits.hits._source.@timestamp', 
                 'hits.hits._source.agent.hostname',
                 'hits.hits._source.source.ip',
                 'hits.hits._source.destination.ip',
                 'hits.hits._source.network.bytes'
#                  'hits.hits._source.domain',
#                  'hits.hits._source.sub_domain',
#                  'hits.hits._source.dns.question.etld_plus_one',
#                  'aggregations'
                ]
result_test = retrieve_data(es, 'packetbeat-*', query_string_test, object_filter_test)

In [59]:
flat_result_test = json_normalize(result_test['hits']['hits'])

In [60]:
flat_result_test['_source.@timestamp']= pd.to_datetime(flat_result_test['_source.@timestamp'])

In [61]:
flat_result_test['delta_prev'] = flat_result_test.apply(lambda x: calc_delta_between_event(flat_result_test, x), axis=1)

In [62]:
flat_result_test['hour'] = flat_result_test['_source.@timestamp'].dt.hour
flat_result_test['minute'] = flat_result_test['_source.@timestamp'].dt.minute
flat_result_test['second'] = flat_result_test['_source.@timestamp'].dt.second

In [63]:
# flat_result.loc[flat_result['delta_prev'] == 10]
flat_result_test_sorted = flat_result_test.sort_values(by='_source.@timestamp')
flat_result_test_sorted.loc[flat_result_test_sorted['_source.destination.ip'] == '91.189.89.199']

,_source.@timestamp,_source.agent.hostname,_source.destination.ip,_source.network.bytes,_source.source.ip,delta_prev,hour,minute,second
6391,2019-09-05 05:14:50+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,-1,5,14,50
4162,2019-09-05 05:15:00+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,15,0
4192,2019-09-05 05:15:10+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,15,10
6420,2019-09-05 05:15:20+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,15,20
4223,2019-09-05 05:15:30+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,15,30
6451,2019-09-05 05:15:40+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,15,40
521,2019-09-05 05:49:00+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,2000,5,49,0
9874,2019-09-05 05:49:10+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,49,10
530,2019-09-05 05:49:20+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,49,20
563,2019-09-05 05:49:30+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,49,30
598,2019-09-05 05:49:40+00:00,t-dock-work-2,91.189.89.199,184,10.3.8.44,10,5,49,40

In [65]:
flat_result_test_sorted.to_csv(r'data/flat_result_test_sorted.csv')

## End of test data

In [127]:
# delta = pd.to_datetime('2019-09-05T04:50:00.000Z') - max(flat_result.loc[ (flat_result[ '_source.@timestamp'] < '2019-09-05T04:50:00.000Z') &
#                (flat_result[ '_source.source.ip'] == '10.3.8.44') &
#                (flat_result[ '_source.destination.ip'] == '91.189.89.199'), '_source.@timestamp'] )

# delta

In [83]:
calc_delta_between_event(flat_result, '10.3.8.44', '91.189.89.199', '2019-09-05T04:50:00.000Z')

530

In [42]:
flat_result_sorted.columns

Index(['_source.@timestamp', '_source.agent.hostname',
       '_source.destination.ip', '_source.network.bytes', '_source.source.ip',
       'delta_prev'],
      dtype='object')

In [48]:
flat_result_sorted.loc[flat_result_sorted['delta_prev'] != -1]

,_source.@timestamp,_source.agent.hostname,_source.destination.ip,_source.network.bytes,_source.source.ip,delta_prev,hour,minute,second
1335,2019-09-05 04:04:00.297000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,0,4,4,0
30,2019-09-05 04:04:01.306000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,1,4,4,1
31,2019-09-05 04:04:07.327000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,6,4,4,7
32,2019-09-05 04:04:07.351000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,0,4,4,7
1337,2019-09-05 04:04:08.538000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,1,4,4,8
1336,2019-09-05 04:04:08.692000+00:00,t-dock-log-1,10.3.8.58,8115150,10.3.8.44,8,4,4,8
1351,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1350,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1349,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1348,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1347,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1346,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1340,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1344,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1343,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1342,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1341,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1352,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1339,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1338,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.8.58,27188254,10.3.8.44,1,4,4,10
1345,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1353,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1357,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1355,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1380,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1379,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1378,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1377,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1376,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
1375,2019-09-05 04:04:10+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,1,4,4,10
...,...,...,...,...,...,...,...,...,...
8737,2019-09-05 04:49:48.691000+00:00,t-dock-log-1,10.3.8.58,8353555,10.3.8.44,8,4,49,48
7664,2019-09-05 04:49:49.527000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,1,4,49,49
7665,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.8.58,27426659,10.3.8.44,1,4,49,50
7686,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7685,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7684,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7683,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7682,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7681,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7680,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7678,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7677,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7679,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7675,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7666,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7676,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7668,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7669,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7667,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7671,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7672,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7673,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7674,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7670,2019-09-05 04:49:50+00:00,t-dock-work-2,10.3.6.5,240,10.3.8.44,0,4,49,50
7687,2019-09-05 04:49:52+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,2,4,49,52
7688,2019-09-05 04:49:52.065000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,0,4,49,52
7689,2019-09-05 04:49:53.086000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,1,4,49,53
8738,2019-09-05 04:49:55.249000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,2,4,49,55
7690,2019-09-05 04:49:58.691000+00:00,t-dock-log-1,10.3.8.58,8353555,10.3.8.44,8,4,49,58
8739,2019-09-05 04:49:58.709000+00:00,t-dock-work-2,10.3.6.5,152,10.3.8.44,3,4,49,58

## Machine learning model

In [54]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [66]:
flat_result_sorted.columns

Index(['_source.@timestamp', '_source.agent.hostname',
       '_source.destination.ip', '_source.network.bytes', '_source.source.ip',
       'delta_prev', 'hour', 'minute', 'second'],
      dtype='object')

In [69]:
flat_result_sorted.iloc[:, [5]].head()

    delta_prev
0           -1
21          -1
22          -1
23          -1
24          -1

In [102]:
ip_encoder = LabelBinarizer()
encoder_result = ip_encoder.fit_transform(flat_result_sorted['_source.destination.ip'])
df_ip_encode = pd.DataFrame(encoder_result)
flat_result_sorted = pd.concat([flat_result_sorted, df_ip_encode], axis='columns')

encoder_result2 = ip_encoder.transform(flat_result_test_sorted['_source.destination.ip'])
df_ip_encode2 = pd.DataFrame(encoder_result2)
flat_result_test_sorted = pd.concat([flat_result_test_sorted, df_ip_encode2], axis='columns')

In [93]:
beaconing_detection_train_x = flat_result_sorted.loc[flat_result_sorted['delta_prev'] != -1].iloc[:, [3, 6, 7, 8, 9, 10, 11, 12]]
beaconing_detection_train_y = flat_result_sorted.loc[flat_result_sorted['delta_prev'] != -1].iloc[:, [5]]

In [103]:
beaconing_detection_test_x = flat_result_test_sorted.loc[flat_result_test_sorted['delta_prev'] != -1].iloc[:, [3, 6, 7, 8, 9, 10, 11, 12]]
beaconing_detection_test_y = flat_result_test_sorted.loc[flat_result_test_sorted['delta_prev'] != -1].iloc[:, [5]]

In [99]:
beaconing_detection_train_x.head()
# flat_result_sorted.head()

    _source.network.bytes  hour  minute  second  0  1  2  3
30                    152     4       4       1  1  0  0  0
31                    152     4       4       7  1  0  0  0
32                    152     4       4       7  1  0  0  0
33                    152     4       4      12  1  0  0  0
34                    152     4       4      11  1  0  0  0

In [104]:
train_features, test_features, train_labels, test_labels = train_test_split(beaconing_detection_train_x, 
                                                                            beaconing_detection_train_y,
                                                                           test_size=0.2,
                                                                           random_state = 42)

In [105]:
beaconing_rf_class = RandomForestClassifier(max_depth=9, n_estimators=20, max_features=8)

In [106]:
beaconing_rf_class.fit(train_features, train_labels)

/home/febriantoe/anaconda3/envs/environment1/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=9, max_features=8, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [107]:
prediction1 = beaconing_rf_class.predict(test_features)
training_score = beaconing_rf_class.score(test_features, test_labels)
test_score = beaconing_rf_class.score(beaconing_detection_test_x, beaconing_detection_test_y)

In [120]:
prediction2 = beaconing_rf_class.predict(beaconing_detection_test_x)

In [121]:
beaconing_detection_test_x['prediction'] = prediction2
beaconing_detection_test_x['label'] = beaconing_detection_test_y

In [108]:
training_score

0.9377510040160643

In [109]:
test_score

0.9429749572563613

In [140]:
# beaconing_detection_test_x.loc[beaconing_detection_test_x['label'] != beaconing_detection_test_x['prediction']]

In [114]:
# test_features['predictions'] = prediction1
test_features['labels'] = test_labels

In [139]:
# test_features.loc[(test_features['_source.network.bytes'] != 240) ]

In [117]:
test_features.loc[test_features['_source.network.bytes'] == 184]

,_source.network.bytes,hour,minute,second,0,1,2,3,predictions,labels
1710,184,4,7,10,1,0,0,0,10,9