In [1]:
import pandas as pd
import json as json
import numpy as np

from elasticsearch import Elasticsearch
from elasticsearch import helpers

from pandas.io.json import json_normalize

import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder

import re

In [2]:
def connect_elasticsearch():
    es = Elasticsearch(['https://silabane:PVp5CcJfhoeo6sL2XJkVk8PL@44427d2de.cyberscore.com:443'])
    return es

In [ ]:
def retrieve_data(es, index_name, query, object_filter):
    result_set = es.search(index=index_name, 
                           body=query, 
                           filter_path=object_filter)
    
    return result_set

In [3]:
def scan_data(es, index_name, query):
    scan_result = helpers.scan(es,
        query=query,
        index=index_name
    )
    return scan_result

In [86]:
def extract_date(x):
    x = x.replace('  ', ' ')
    result = re.findall("[A-Z][a-z][a-z] [0-9][0-9]", x)
    result2 = re.findall("[A-Z][a-z][a-z] [0-9]", x)
    if result:
        return result[0]
    elif result2:
        return result2[0]
    else:
        return ''

In [87]:
def extract_time(x):
    x = x.replace('  ', ' ')
    result = re.findall("[A-Z][a-z][a-z] [0-9][0-9] [0-2][0-9]:[0-6][0-9]:[0-6][0-9]", x)
    result2 = re.findall("[A-Z][a-z][a-z] [0-9] [0-2][0-9]:[0-6][0-9]:[0-6][0-9]", x)
    if result:
        return result[0].split(' ')[2]
    elif result2:
        return result2[0].split(' ')[2]
    else:
        return ''

In [6]:
def extract_user(x):
    result = x.replace('"','').replace("'", '').split('acct=')
    if len(result) > 1:
        return result[1].split(" ",1)[0]
    else:
        return ''

In [7]:
def extract_hostname(x):
    result = x.replace('"','').replace("'", '').split('hostname=') 
    if len(result) > 1:
        return result[1].split(" ",1)[0]
    else:
        return ''

In [8]:
def extract_sessionid(x):
    result = x.replace('"','').replace("'", '').split('pid=')
    if len(result) > 1:
        return result[1].split(" ",1)[0]
    else:
        return ''

In [9]:
def extract_operation(x):
    result = x.replace('"','').replace("'", '').split('op=PAM:')
    if len(result) > 1:
        return result[1].split(" ",1)[0]
    else:
        return ''

In [10]:
def extract_status(x):
    result = x.replace('"','').replace("'", '').split('res=')
    if len(result) > 1:
        return result[1].split(" ",1)[0]
    else:
        return ''

In [11]:
es = connect_elasticsearch()

print(es.ping())

False

In [54]:
query_string = {
  "query": {
    "bool": {
      "must": [
          { "range": { "@timestamp": {"gte": "2019-10-29T07:00:00.000Z"}}},
          { "match": { "log.file.path" : "/var/log/syslog"}},
          { "match": { "message" : "ssh"}}
      ]
    }
  }
}

object_filter = ['hits.hits._id', 
                 'hits.hits._source.@timestamp',
                 'hits.hits._source.agent.hostname',
                 'hits.hits._source.message'
                ]

# object_filter = ""

# result = retrieve_data(es, 'filebeat-*', query_string, object_filter)
result = scan_data(es, 'filebeat-*', query_string)

In [55]:
####### only if using scan
list_result = list(result)

In [56]:
temp1_df = pd.DataFrame(list_result)['_source']

In [57]:
# temp1_df
df_scan_result = json_normalize(temp1_df)
# df_scan_result.to_csv(r'data/scan_filebeat_2019-10-22_1.csv')

In [ ]:
flat_result = pd.read_csv('data/scan_filebeat_2019-10-22_1.csv', index_col=0)
flat_result.head()

In [58]:
# flat_result = json_normalize(result['hits']['hits'])


## for scan data only
flat_result = df_scan_result

In [61]:
flat_result.head()

,@timestamp,@version,agent.ephemeral_id,agent.hostname,agent.id,agent.type,agent.version,ecs.version,host.architecture,host.containerized,...,host.os.platform,host.os.version,input.type,log.file.path,log.offset,message,tags,date,hour,user
0,2019-10-31T14:43:19.001Z,1,3e9d2204-aa86-4a67-b855-c15e4630ba21,t-dock-db-1,ecb8cb71-6c39-4d43-a036-70c07b48bc42,filebeat,7.4.1,1.1.0,x86_64,False,...,ubuntu,16.04.6 LTS (Xenial Xerus),log,/var/log/syslog,244574473,Oct 30 22:01:51 t-dock-db-1 kernel: [1082408.9...,[beats_input_codec_plain_applied],Oct 30,22,administrator
1,2019-10-31T14:43:19.001Z,1,3e9d2204-aa86-4a67-b855-c15e4630ba21,t-dock-db-1,ecb8cb71-6c39-4d43-a036-70c07b48bc42,filebeat,7.4.1,1.1.0,x86_64,False,...,ubuntu,16.04.6 LTS (Xenial Xerus),log,/var/log/syslog,244574739,Oct 30 22:01:51 t-dock-db-1 kernel: [1082408.9...,[beats_input_codec_plain_applied],Oct 30,22,administrator
2,2019-10-31T14:43:19.014Z,1,3e9d2204-aa86-4a67-b855-c15e4630ba21,t-dock-db-1,ecb8cb71-6c39-4d43-a036-70c07b48bc42,filebeat,7.4.1,1.1.0,x86_64,False,...,ubuntu,16.04.6 LTS (Xenial Xerus),log,/var/log/syslog,244794338,Oct 31 00:13:06 t-dock-db-1 kernel: [1090284.5...,[beats_input_codec_plain_applied],Oct 31,00,administrator
3,2019-10-31T14:43:19.014Z,1,3e9d2204-aa86-4a67-b855-c15e4630ba21,t-dock-db-1,ecb8cb71-6c39-4d43-a036-70c07b48bc42,filebeat,7.4.1,1.1.0,x86_64,False,...,ubuntu,16.04.6 LTS (Xenial Xerus),log,/var/log/syslog,244794604,Oct 31 00:13:06 t-dock-db-1 kernel: [1090284.5...,[beats_input_codec_plain_applied],Oct 31,00,administrator
4,2019-10-31T14:43:19.091Z,1,3e9d2204-aa86-4a67-b855-c15e4630ba21,t-dock-db-1,ecb8cb71-6c39-4d43-a036-70c07b48bc42,filebeat,7.4.1,1.1.0,x86_64,False,...,ubuntu,16.04.6 LTS (Xenial Xerus),log,/var/log/syslog,245823519,Oct 31 10:07:27 t-dock-db-1 kernel: [1125944.1...,[beats_input_codec_plain_applied],Oct 31,10,cyberscore

In [ ]:
import re

test_string1 = 'Oct 29 15:09:35 613454 Connect administrator@10.3.255.61 as anonymous on mypassword'

re.sub("[A-Z][a-z][a-z] [0-9][0-9] [0-2][0-9]:[0-6][0-9]:[0-6][0-9]", '', test_string1)
# flat_result['_source.message'].map(lambda x: x.replace('\t\t','')) #split('Connect\t')

In [ ]:
# flat_result.head()
# flat_result['_source.message'].map(lambda x: x.replace('\t\t','').split(' ', 1)[0])

# flat_result['_source.message'].map(lambda x: re.sub("[0-9][0-9][0-9][0-9][0-9][0-9] [0-2][0-9]:[0-6][0-9]:[0-6][0-9]\t", '\t\t', x))

In [ ]:
# flat_result.loc[flat_result['_source.message'].str.find('select') >= 0, 'message1']
# flat_result.loc[flat_result['event'] == 'connect', 'message1'].map(lambda x: x.split('@', 1)[1].split(' ', 1)[0])

# flat_result.loc[flat_result['event'] != 'connect', 'user'] = flat_result.loc[flat_result['event'] != 'connect', 'session_id'].map(lambda x: flat_result.loc[(flat_result['session_id'] == x) & (flat_result['event'] == 'connect'), 'user'])

# flat_result.loc[flat_result['event'] != 'connect', 'session_id'].map(lambda x: flat_result.loc[(flat_result['session_id'] == x) & (flat_result['event'] == 'connect'), 'user'].to_string().split('    ', 1)[-1])

# flat_result.loc[(flat_result['session'] == x), 'user']

# flat_result.loc[(flat_result['message'].str.find('Connect') >= 0), ['date', 'event']].groupby(['date','event'])['event'].value_counts()

# flat_result.loc[(flat_result['message'].str.find('Connect') >= 0) & (flat_result['date'] == '') , ['message', 'date']]

In [84]:
# flat_result.loc[flat_result['date'] != '', 'minute'] = flat_result.loc[flat_result['date'] != '', 'message'].map(lambda x: extract_time(x).split(':')[1])

# flat_result['message'].map(lambda x: extract_date(x))
# flat_result.head()

# flat_result.loc[flat_result['date'] != '', 'message'].map(lambda x: extract_time(x).split(':')[1])
# flat_result['message'].map(lambda x: extract_date(x))

In [88]:
flat_result['date'] = flat_result['message'].map(lambda x: extract_date(x))
flat_result.loc[flat_result['date'] != '', 'hour'] = flat_result.loc[flat_result['date'] != '', 'message'].map(lambda x: extract_time(x).split(':')[0])
flat_result.loc[flat_result['date'] != '', 'minute'] = flat_result.loc[flat_result['date'] != '', 'message'].map(lambda x: extract_time(x).split(':')[1])
flat_result.loc[flat_result['date'] != '', 'second'] = flat_result.loc[flat_result['date'] != '', 'message'].map(lambda x: extract_time(x).split(':')[2])

In [93]:
# user
flat_result['user'] = flat_result.loc[0:, 'message'].map(lambda x: extract_user(x))

In [94]:
# from host
flat_result['from'] = flat_result.loc[0:, 'message'].map(lambda x: extract_hostname(x))

In [95]:
# session id 
flat_result['session_id'] = flat_result.loc[0:, 'message'].map(lambda x: extract_sessionid(x))

In [96]:
# operation
flat_result['event'] = flat_result.loc[0:, 'message'].map(lambda x: extract_operation(x))

In [97]:
# status
flat_result['login_status'] = flat_result.loc[0:, 'message'].map(lambda x: extract_status(x))

In [ ]:
flat_result['message'] = flat_result['message'].map(
    lambda x: re.sub("[0-9][0-9][0-9][0-9][0-9][0-9] [0-2][0-9]:[0-6][0-9]:[0-6][0-9]\t", '\t\t', x))

flat_result['session_id'] = flat_result['message'].map(lambda x: x.replace('\t\t','').split(' ', 1)[0])

flat_result.loc[flat_result['message'].str.find('Connect') >= 0, 'message1'] = flat_result.loc[flat_result['message'].str.find('Connect') >= 0, 'message'].map(lambda x: x.split('Connect\t')[-1])
flat_result.loc[(flat_result['message'].str.find('Connect') >= 0) & (flat_result['message'].str.find('Connect\tAccess denied') < 0), 'event'] = 'connect' 
flat_result.loc[(flat_result['message'].str.find('Connect\tAccess denied') >= 0), 'event'] = 'connect_failed_notif' 


flat_result.loc[flat_result['message'].str.find('select') >= 0, 'message1'] = 'select'
flat_result.loc[flat_result['message'].str.find('select') >= 0, 'event'] = 'select'

flat_result.loc[(flat_result['message'].str.find('Connect') < 0) & 
                (flat_result['message'].str.find('select') < 0), 'message1'] = 'other'
flat_result.loc[(flat_result['message'].str.find('Connect') < 0) & 
                (flat_result['message'].str.find('select') < 0), 'event'] = 'other'


flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'user'] = flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'message1'].map(lambda x: x.split('@', 1)[0])
flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'from'] = flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'message1'].map(lambda x: x.split('@', 1)[1].split(' ', 1)[0])

flat_result.loc[flat_result['message1'].str.find("Access denied") >= 0, 'login_status'] = 'failed'
for index, row in flat_result.loc[flat_result['login_status'] == 'failed'].iterrows():
    flat_result.loc[(flat_result['session_id'] == row['session_id']), 'login_status'] = 'failed'
flat_result['login_status'].fillna('successful', inplace=True)


flat_result.loc[flat_result['event'] != 'connect', 'user'] = flat_result.loc[flat_result['event'] != 'connect', 'session_id'].map(lambda x: flat_result.loc[(flat_result['session_id'] == x) & (flat_result['event'] == 'connect'), 'user'].to_string().split('    ', 1)[-1])

In [89]:
# flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'user'] = flat_result.loc[(flat_result['event'] == 'connect') | (flat_result['event'] == 'connect_failed_notif'), 'message1'].map(lambda x: x.split('@', 1)[0])

# flat_result['login_status'].value_counts()

flat_result.loc[:, 'date'].value_counts()

# flat_result['message'].map(lambda x: extract_date(x))

# aaa = 'Oct 28 14:28:39 t-dock-db-1 kernel: [882420.219969] audit: type=1106 audit(1572272919.584:16396): pid=123350 uid=0 auid=1000 ses=1091 msg='op=PAM:session_close acct="administrator" exe="/usr/sbin/sshd" hostname=10.3.255.61 addr=10.3.255.61 terminal=ssh res=success''

Oct 21    651
Oct 22    642
Oct 29    638
Oct 28    624
Oct 16    624
Oct 25    620
Oct 11    619
Oct 23    614
Nov 1     604
Oct 14    601
Oct 31    589
Oct 15    588
Oct 30    586
Nov 6     585
Nov 5     559
Oct 24     60
Oct 18     56
Nov 4      22
Oct 10     13
Name: date, dtype: int64

### Drop connect event without datetime
#### Because it was from long time ago and is not used anymore (duplicate session_id from the past)

In [ ]:
flat_result.drop(index=flat_result.loc[(flat_result['date'] == '') & (flat_result['event'] != 'connect_failed_notif') ].index, inplace=True)
flat_result.reset_index()
# flat_result.loc[(flat_result['date'] == '') & (flat_result['event'] != 'connect_failed_notif')]

In [98]:
df_groupby_user_time = pd.DataFrame({'count_per_user' : flat_result.loc[flat_result['event'] == 'authentication'].groupby(['user','date', 'hour', 'minute']).size()}).reset_index()
df_groupby_time = pd.DataFrame({'count_per_time' : flat_result.loc[flat_result['event'] == 'authentication'].groupby(['date', 'hour', 'minute']).size()}).reset_index()
df_groupby_user_time_failed = pd.DataFrame({'count_failed_per_user' : flat_result.loc[flat_result['event'] == 'authentication'].groupby(['user','date', 'hour', 'minute', 'login_status']).size()}).reset_index()
df_groupby_time_failed = pd.DataFrame({'count_failed_per_time' : flat_result.loc[flat_result['event'] == 'authentication'].groupby(['date', 'hour', 'minute', 'login_status']).size()}).reset_index()

In [ ]:
# df_groupby_time_failed

In [ ]:
df_groupby_user_time_failed.count()

In [99]:
for index, row in df_groupby_time.iterrows():
    df_groupby_user_time.loc[(df_groupby_user_time['date'] == row['date']) &
                            (df_groupby_user_time['hour'] == row['hour']) &
                            (df_groupby_user_time['minute'] == row['minute']), 'count_per_time'] = row['count_per_time']

In [100]:
for index, row in df_groupby_time_failed.iterrows():
    df_groupby_user_time_failed.loc[(df_groupby_user_time_failed['date'] == row['date']) &
                            (df_groupby_user_time_failed['hour'] == row['hour']) &
                            (df_groupby_user_time_failed['minute'] == row['minute']) &
                            (df_groupby_user_time_failed['login_status'] == row['login_status']), 'count_failed_per_time'] = row['count_failed_per_time']

In [101]:
for index, row in df_groupby_user_time.iterrows():
    flat_result.loc[(flat_result['user'] == row['user']) &
                    (flat_result['date'] == row['date']) &
                    (flat_result['hour'] == row['hour']) &
                    (flat_result['minute'] == row['minute']), 'count_per_time'] = row['count_per_time']
    flat_result.loc[(flat_result['user'] == row['user']) &
                    (flat_result['date'] == row['date']) &
                    (flat_result['hour'] == row['hour']) &
                    (flat_result['minute'] == row['minute']) , 'count_per_user'] = row['count_per_user']

In [102]:
for index, row in df_groupby_user_time_failed.loc[df_groupby_user_time_failed['login_status'] == 'failed'].iterrows():
    flat_result.loc[(flat_result['user'] == row['user']) &
                    (flat_result['date'] == row['date']) &
                    (flat_result['hour'] == row['hour']) &
                    (flat_result['minute'] == row['minute']) , 'count_failed_per_time'] = row['count_failed_per_time']
    flat_result.loc[(flat_result['user'] == row['user']) &
                    (flat_result['date'] == row['date']) &
                    (flat_result['hour'] == row['hour']) &
                    (flat_result['minute'] == row['minute']) , 'count_failed_per_user'] = row['count_failed_per_user']

flat_result['count_failed_per_time'].fillna(0, inplace=True) 
flat_result['count_failed_per_user'].fillna(0, inplace=True)

In [103]:
# flat_result.loc[flat_result['event'] == 'authentication', 
#                  ['hour', 'minute', 'user', 'message', 'login_status', 'count_per_user', 
#                   'count_per_time', 'count_failed_per_user', 'count_failed_per_time']]
flat_result.loc[(flat_result['event'] == 'authentication') & 
                (flat_result['date'] == 'Nov 1'), 
                ['session_id', 'hour', 'minute', 'user', 'message', 'login_status', 'count_per_user', 
                 'count_per_time', 'count_failed_per_user', 'count_failed_per_time']]
# flat_result.to_csv(r'data/scan_filebeat_2019-10-31_type2_credentialspraying.csv')

,session_id,hour,minute,user,message,login_status,count_per_user,count_per_time,count_failed_per_user,count_failed_per_time
184,3231,10,08,cyberscore,Nov 1 10:08:10 t-dock-db-1 kernel: [1212386.0...,success,2.0,3.0,0.0,0.0
190,3330,10,08,OpenVAS-VT,Nov 1 10:08:17 t-dock-db-1 kernel: [1212392.9...,failed,1.0,3.0,1.0,1.0
195,3815,10,09,cyberscore,Nov 1 10:09:14 t-dock-db-1 kernel: [1212449.8...,success,7.0,7.0,0.0,0.0
197,3817,10,09,cyberscore,Nov 1 10:09:14 t-dock-db-1 kernel: [1212449.8...,success,7.0,7.0,0.0,0.0
199,4181,10,09,cyberscore,Nov 1 10:09:19 t-dock-db-1 kernel: [1212455.3...,success,7.0,7.0,0.0,0.0
206,4202,10,09,cyberscore,Nov 1 10:09:20 t-dock-db-1 kernel: [1212455.9...,success,7.0,7.0,0.0,0.0
212,4421,10,09,cyberscore,Nov 1 10:09:32 t-dock-db-1 kernel: [1212468.6...,success,7.0,7.0,0.0,0.0
223,5101,10,11,cyberscore,Nov 1 10:11:03 t-dock-db-1 kernel: [1212558.9...,success,15.0,15.0,0.0,0.0
227,5213,10,11,cyberscore,Nov 1 10:11:10 t-dock-db-1 kernel: [1212565.9...,success,15.0,15.0,0.0,0.0
234,5399,10,11,cyberscore,Nov 1 10:11:16 t-dock-db-1 kernel: [1212572.1...,success,15.0,15.0,0.0,0.0
237,5401,10,11,cyberscore,Nov 1 10:11:16 t-dock-db-1 kernel: [1212572.1...,success,15.0,15.0,0.0,0.0
240,5403,10,11,cyberscore,Nov 1 10:11:16 t-dock-db-1 kernel: [1212572.2...,success,15.0,15.0,0.0,0.0
250,5974,10,11,cyberscore,Nov 1 10:11:31 t-dock-db-1 kernel: [1212587.2...,success,15.0,15.0,0.0,0.0
257,6235,10,11,cyberscore,Nov 1 10:11:38 t-dock-db-1 kernel: [1212593.9...,success,15.0,15.0,0.0,0.0
258,6233,10,11,cyberscore,Nov 1 10:11:38 t-dock-db-1 kernel: [1212593.9...,success,15.0,15.0,0.0,0.0
263,6238,10,11,cyberscore,Nov 1 10:11:38 t-dock-db-1 kernel: [1212593.9...,success,15.0,15.0,0.0,0.0
265,6738,10,11,cyberscore,Nov 1 10:11:43 t-dock-db-1 kernel: [1212599.4...,success,15.0,15.0,0.0,0.0
270,6753,10,11,cyberscore,Nov 1 10:11:43 t-dock-db-1 kernel: [1212599.6...,success,15.0,15.0,0.0,0.0
285,7053,10,11,cyberscore,Nov 1 10:11:53 t-dock-db-1 kernel: [1212609.6...,success,15.0,15.0,0.0,0.0
292,7082,10,11,cyberscore,Nov 1 10:11:55 t-dock-db-1 kernel: [1212611.1...,success,15.0,15.0,0.0,0.0
308,7478,10,11,cyberscore,Nov 1 10:11:58 t-dock-db-1 kernel: [1212614.6...,success,15.0,15.0,0.0,0.0
316,7464,10,11,cyberscore,Nov 1 10:11:58 t-dock-db-1 kernel: [1212614.7...,success,15.0,15.0,0.0,0.0
318,7608,10,12,cyberscore,Nov 1 10:12:05 t-dock-db-1 kernel: [1212620.9...,success,4.0,4.0,0.0,0.0
323,7610,10,12,cyberscore,Nov 1 10:12:05 t-dock-db-1 kernel: [1212621.0...,success,4.0,4.0,0.0,0.0
341,8033,10,12,cyberscore,Nov 1 10:12:10 t-dock-db-1 kernel: [1212626.2...,success,4.0,4.0,0.0,0.0
344,8035,10,12,cyberscore,Nov 1 10:12:10 t-dock-db-1 kernel: [1212626.2...,success,4.0,4.0,0.0,0.0
350,8721,10,13,cyberscore,Nov 1 10:13:29 t-dock-db-1 kernel: [1212704.9...,success,6.0,6.0,0.0,0.0
354,8723,10,13,cyberscore,Nov 1 10:13:29 t-dock-db-1 kernel: [1212704.9...,success,6.0,6.0,0.0,0.0
358,8728,10,13,cyberscore,Nov 1 10:13:29 t-dock-db-1 kernel: [1212705.1...,success,6.0,6.0,0.0,0.0
367,8995,10,13,cyberscore,Nov 1 10:13:34 t-dock-db-1 kernel: [1212710.0...,success,6.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1291,13659,10,20,adfexc,Nov 1 10:20:50 t-dock-db-1 kernel: [1213145.9...,failed,1.0,27.0,1.0,27.0
1294,13668,10,20,root,Nov 1 10:20:52 t-dock-db-1 kernel: [1213147.8...,failed,4.0,27.0,4.0,27.0
1298,13675,10,20,halt,Nov 1 10:20:54 t-dock-db-1 kernel: [1213150.2...,failed,1.0,27.0,1.0,27.0
1301,13694,10,20,MGR,Nov 1 10:20:56 t-dock-db-1 kernel: [1213151.9...,failed,4.0,27.0,4.0,27.0
1304,13708,10,20,PCUSER,Nov 1 10:20:58 t-dock-db-1 kernel: [1213154.5...,failed,1.0,27.0,1.0,27.0
1308,13720,10,21,readonly,Nov 1 10:21:01 t-dock-db-1 kernel: [1213156.8...,failed,1.0,25.0,1.0,25.0
1311,13732,10,21,SPOOLMAN,Nov 1 10:21:02 t-dock-db-1 kernel: [1213158.7...,failed,1.0,25.0,1.0,25.0
1313,13743,10,21,MGR,Nov 1 10:21:04 t-dock-db-1 kernel: [1213160.7...,failed,2.0,25.0,2.0,25.0
1315,13751,10,21,MANAGER,Nov 1 10:21:06 t-dock-db-1 kernel: [1213162.2...,failed,1.0,25.0,1.0,25.0
1320,13758,10,21,diag,Nov 1 10:21:08 t-dock-db-1 kernel: [1213164.2...,failed,1.0,25.0,1.0,25.0
1327,13784,10,21,login,Nov 1 10:21:12 t-dock-db-1 kernel: [1213168.7...,failed,1.0,25.0,1.0,25.0
1331,13808,10,21,admin,Nov 1 10:21:14 t-dock-db-1 kernel: [1213170.7...,failed,2.0,25.0,2.0,25.0
1335,13831,10,21,client,Nov 1 10:21:17 t-dock-db-1 kernel: [1213172.9...,failed,1.0,25.0,1.0,25.0
1338,13856,10,21,OPERATOR,Nov 1 10:21:18 t-dock-db-1 kernel: [1213174.5...,failed,1.0,25.0,1.0,25.0
1343,13882,10,21,MGR,Nov 1 10:21:20 t-dock-db-1 kernel: [1213176.5...,failed,2.0,25.0,2.0,25.0
1348,13906,10,21,manuf,Nov 1 10:21:23 t-dock-db-1 kernel: [1213178.8...,failed,1.0,25.0,1.0,25.0
1352,13932,10,21,3comcso,Nov 1 10:21:25 t-dock-db-1 kernel: [1213180.8...,failed,1.0,25.0,1.0,25.0
1356,13959,10,21,dhs3mt,Nov 1 10:21:27 t-dock-db-1 kernel: [1213183.1...,failed,1.0,25.0,1.0,25.0
1359,13982,10,21,ADVMAIL,Nov 1 10:21:29 t-dock-db-1 kernel: [1213185.4...,failed,1.0,25.0,1.0,25.0
1363,14000,10,21,superadmin,Nov 1 10:21:31 t-dock-db-1 kernel: [1213186.9...,failed,1.0,25.0,1.0,25.0
1369,14019,10,21,recovery,Nov 1 10:21:33 t-dock-db-1 kernel: [1213189.2...,failed,1.0,25.0,1.0,25.0
1378,14060,10,21,rwa,Nov 1 10:21:37 t-dock-db-1 kernel: [1213193.5...,failed,1.0,25.0,1.0,25.0
1380,14068,10,21,root,Nov 1 10:21:40 t-dock-db-1 kernel: [1213195.8...,failed,4.0,25.0,4.0,25.0
1385,14079,10,21,mobile,Nov 1 10:21:42 t-dock-db-1 kernel: [1213197.8...,failed,1.0,25.0,1.0,25.0
1389,14091,10,21,admin,Nov 1 10:21:44 t-dock-db-1 kernel: [1213200.1...,failed,2.0,25.0,2.0,25.0
1397,14105,10,21,skyboxview,Nov 1 10:21:47 t-dock-db-1 kernel: [1213202.8...,failed,1.0,25.0,1.0,25.0
1402,14127,10,21,root,Nov 1 10:21:50 t-dock-db-1 kernel: [1213206.2...,failed,4.0,25.0,4.0,25.0
1405,14138,10,21,msfadmin,Nov 1 10:21:52 t-dock-db-1 kernel: [1213208.2...,failed,1.0,25.0,1.0,25.0
1409,14154,10,21,root,Nov 1 10:21:54 t-dock-db-1 kernel: [1213210.5...,failed,4.0,25.0,4.0,25.0
1411,14165,10,21,root,Nov 1 10:21:56 t-dock-db-1 kernel: [1213212.7...,failed,4.0,25.0,4.0,25.0

In [ ]:
# flat_result.loc[(flat_result['minute'] == 33) & (flat_result['second'] == 54) & (flat_result['login_status'] == 'failed')]
# flat_result.loc[flat_result['count_failed_per_user'] == 0, 'count_failed_per_user']

In [ ]:
# flat_result.loc[flat_result['event'] == 'other']
# flat_result.loc[flat_result['event'] == 'connect'].groupby(['user','date', 'hour', 'minute'])['event'].value_counts()
# flat_result.loc[flat_result['event'] == 'connect'].groupby(['user','date', 'hour', 'minute']).count()
# df_groupby_user_time_failed
# df_groupby_time_failed

In [ ]:
# flat_result['session_id'].value_counts()
# flat_result.loc[flat_result['session_id'] == '15696']
# flat_result.loc[flat_result['event'] == 'connect']
# flat_result

In [ ]:
flat_result.loc[(flat_result['_source.message'].str.find('Connect') < 0) & 
                (flat_result['_source.message'].str.find('select') < 0), 'message1']

In [ ]:
# flat_result.loc[flat_result['_source.message'].str.find('Connect') >= 0, '_source.message']
flat_result.loc[flat_result['_source.message'].str.find('Connect') >= 0, '_source.message']

In [ ]:
#Access denied for user 'user'@'10.3.255.61' (using password: YES)
#sysdba@10.3.255.61 as anonymous on mypassword
# flat_result.loc[flat_result['message1'].str.find("Access denied") < 0, 'message1']
flat_result.head()

In [ ]:
df_counts = pd.DataFrame(data = flat_result['message1'].value_counts()) 
df_counts.reset_index(level=0, inplace=True) 
df_counts.info()
df_counts
# flat_result['message_label'].value_counts()

In [ ]:
df_counts.plot.bar(x='index', y='message1', rot=0, figsize=(20,15))

In [ ]:
flat_result['message1'].count()

In [ ]:
flat_result.describe()

In [ ]:
message_encoder = LabelEncoder()
message_label = message_encoder.fit_transform(flat_result['message1'])

flat_result['message_label'] = message_label

flat_result['message_label'].hist(bins=20, figsize=(20,15))
plt.show()

## machine learning model

In [ ]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [ ]:
df_model1.columns
# credential_spray_detection_train_x.columns
# flat_result.columns

In [ ]:
# df_model1 = flat_result.loc[flat_result['event'] == 'connect'].iloc[:, [6, 7, 8, 11, 12, 13, 14, 15, 16, 17, 18]]
df_model1 = flat_result.loc[flat_result['event'] == 'connect'].iloc[:, [25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37]]
# df_model1.drop_duplicates(inplace=True)
# df_model1.reset_index(inplace=True)
df_model1.reset_index(inplace=True)
df_model1 = df_model1.iloc[:, 1:]

In [ ]:
event_encoder = LabelEncoder()
event_encoder_result = event_encoder.fit_transform(df_model1['event'])
df_model1['event_code'] = event_encoder_result

In [ ]:
user_encoder = LabelEncoder()
user_encoder_result = user_encoder.fit_transform(df_model1['user'])
df_model1['user_code'] = user_encoder_result

In [ ]:
from_encoder = LabelEncoder()
from_encoder_result = from_encoder.fit_transform(df_model1['from'])
df_model1['from_code'] = from_encoder_result

In [ ]:
login_status_encoder = LabelEncoder()
login_status_encoder_result = login_status_encoder.fit_transform(df_model1['login_status'])
df_model1['login_status_code'] = login_status_encoder_result

In [ ]:
credential_spray_detection_train_x = df_model1.iloc[:, [0, 1, 9, 10, 11, 13, 14]]
credential_spray_detection_train_y = df_model1.iloc[:, [8]]

In [ ]:
credential_spray_detection_train_x
# credential_spray_detection_train_y
# df_model1
# df_model1

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(credential_spray_detection_train_x, 
                                                                            credential_spray_detection_train_y,
                                                                           test_size=0.2,
                                                                           random_state = 42)

In [ ]:
# test1 = pd.concat(test_features, test_labels)
test_features

In [ ]:
test_features['prediction'] = prediction1
test_features['label'] = test_labels
test_features.to_csv(r'data/prediction_minute_3.csv')

In [ ]:
test_labels

In [ ]:
credential_spray_rf_class = RandomForestClassifier(max_depth=12, n_estimators=20, max_features=7)

In [ ]:
credential_spray_rf_class.fit(train_features, train_labels)

In [ ]:
prediction1 = credential_spray_rf_class.predict(test_features)
training_score = credential_spray_rf_class.score(test_features, test_labels)
training_score

In [ ]:
# df_model1.head()
# credential_spray_detection_train_x
test_features['prediction'] =prediction1
test_features['label'] = test_labels
test_features.to_csv(r'data/prediction_minute_3.csv')

In [ ]:
df1 = prediction

In [ ]:
# flat_result.loc[flat_result['event'] == 'connect'].iloc[:, [6, 7, 8, 11, 12, 13, 14, 15, 16, 17, 18]]
# df_model1['event_code'].value_counts()

In [ ]:
# flat_result.loc[(flat_result['event'] == 'connect') & (flat_result['login_status'] != 'failed')]
# flat_result.loc[flat_result['event'] == 'connect', 'session_id'].map(lambda x: flat_result.loc[(flat_result['session_id'] == x) & (flat_result['login_status'] == 'failed'), 'login_status'])

# 8066

# 18800
# 18809

# df_model1.iloc[4744:4775]
# df_model1.iloc[475]

flat_result.loc[(flat_result['message'].str.find("Access denied") >= 0) & (flat_result['hour'] == 8) , 'minute' ]
# flat_result.columns

# df_model1.loc[df_model1['count_per_time'] == 9804]
# df_model1.loc[df_model1['count_per_time'] == 9804]

In [ ]:
test_features['diff'] = test_features['label'] - test_features['prediction']

In [ ]:
test_features['diff'].describe()

In [ ]:

test_features['diff'].hist(bins=20, figsize=(20,15))